<div class="navbar navbar-default navbar-static-top vCenter">
  <div class="container">
    <div class="row">
      Reddit CLone
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="container vRight">
    <button class="btn btn-primary" ng-click='$ctrl.showNewPostForm = !$ctrl.showNewPostForm' aria-hidden="true">New Post</button>
  </div>
</div>
</div>
<div class="container">
  <div class="well" ng-show='$ctrl.showNewPostForm'>
    <h3>Create a new post:</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="title"></label>
        <input id="title" type="text" class="form-control" ng-model="$ctrl.title" placeholder="Title">
        <label for="author"></label>
        <input id="author" type="text" class="form-control" ng-model="$ctrl.author" placeholder="Author">
        <label for="image"></label>
        <input id="image" type="text" class="form-control" ng-model="$ctrl.image" placeholder="Image">
        <label for="description"></label>
        <input id="description" type="text" class="form-control" ng-model="$ctrl.description" placeholder="Description">
      </div>

        <p><button ng-click="$ctrl.formatPost()">Submit</button></p>
    </form>
        <p>{{$ctrl.formattedPost}}</p>
  </div>
</div>